* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #2b2a2f;
  color: #f2f2f2;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3d3c42;
  padding: 1rem 2rem;
}

.logo {
  color: #f48c8c;
}

.hamburger-btn {
  background: none;
  color: #fff;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}

.filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 2rem;
}

.tabs button {
  background-color: #3d3c42;
  border: none;
  color: #fff;
  padding: 0.6rem 1rem;
  border-radius: 6px;
  margin-right: 0.5rem;
  cursor: pointer;
}

.tabs .active {
  background-color: #f48c8c;
  color: #2b2a2f;
}

.time-picker {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.time-picker button {
  background-color: #3d3c42;
  border: none;
  color: #fff;
  padding: 0.3rem 0.7rem;
  border-radius: 4px;
  cursor: pointer;
}

.summary {
  display: flex;
  justify-content: space-around;
  margin: 1rem 2rem;
}

.card {
  background-color: #3d3c42;
  padding: 1rem;
  border-radius: 10px;
  border: #f48c8c solid 1px;
  width: 31%;
  text-align: center;
}

.card h3 {
  margin-bottom: 0.5rem;
}

.amount {
  font-size: 2rem;
  font-weight: bold;
}

.main-content {
  display: flex;
  justify-content: space-between;
  margin: 1rem 2rem;
  gap: 1rem;
}

.records,
.accounts {
  background-color: #3d3c42;
  padding: 1rem;
  border-radius: 10px;
  width: 48%;
}

.records-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.records-header input {
  width: 60%;
  padding: 0.4rem;
  border: none;
  border-radius: 4px;
}

.search-bar {
  background-color: #f48c8c;
  color: #2b2a2f;
  border: none;
  padding: 0.4rem 1rem;
  border-radius: 6px;
}

.add-btn {
  background-color: #f48c8c;
  color: #2b2a2f;
  border: none;
  padding: 0.4rem 1rem;
  border-radius: 6px;
  cursor: pointer;
}

.record-list h4 {
  color: #ccc;
  margin: 0.7rem 0 0.3rem;
}

.record {
  display: flex;
  justify-content: space-between;
  background-color: #2b2a2f;
  padding: 0.6rem;
  border-radius: 6px;
  margin-bottom: 0.4rem;
}

.record.income {
  color: #5eff74;
}

.record.expense {
  color: #ff5555;
}

.accounts h3 {
  margin-bottom: 0.5rem;
}

.account {
  display: flex;
  justify-content: space-between;
  background-color: #2b2a2f;
  padding: 0.6rem;
  border-radius: 6px;
  margin-bottom: 0.4rem;
}

.add-account {
  width: 100%;
  background-color: #f48c8c;
  color: #2b2a2f;
  border: none;
  padding: 0.6rem;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 0.5rem;
}
.add-account:hover {
  background-color: #ff7777;
}
.add-account a {
  text-decoration: none;
  color: #2b2a2f;
  font-weight: 600;
}

.charts {
  display: flex;
  justify-content: space-between;
  margin: 1rem 2rem;
  gap: 1rem;
}

.chart {
  background-color: #3d3c42;
  padding: 1rem;
  border-radius: 10px;
  width: 48%;
}

.chart h3 {
  margin-bottom: 0.8rem;
}

.chart ul {
  list-style: none;
}

.chart li {
  margin-bottom: 0.4rem;
  color: #ccc;
}
.inc-btn {
  background: #3d3c42;
  color: #fff;
  padding: 10px 16px;
  border-radius: 10px;
  border: none;
  margin: 5px 4px;
  cursor: pointer;
}

.acc-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  background: #3d3c42;
  padding: 10px 16px;
  border-radius: 10px;
  color: #fff;
  border: none;
  margin: 6px 4px;
  cursor: pointer;
}

.display-num {
  width: 100%;
  padding: 14px;
  border-radius: 10px;
  border: none;
  margin: 10px 0;
  font-size: 24px;
  text-align: right;
  background: #3d3c42;
  color: #fff;
}
.budget-notes {
  width: 100%;
  height: 90px;
  border-radius: 10px;
  padding: 10px;
  border: none;
  margin: 10px 0;
  background: #3d3c42;
  color: #fff;
}

.math-btn {
  padding: 18px;
  border-radius: 10px;
  background: #3d3c42;
  border: none;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
}
.math-btn:hover {
  background-color: #4a4950;
}
.acc-btn:hover {
  background-color: #4a4950;
}
.inc-btn:hover {
  background-color: #4a4950;
}
.save-btn:hover {
  background-color: #ff7777;
}
.calc-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
  margin-top: 10px;
}

.cancel-btn,
.save-btn {
  padding: 10px 16px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  margin-right: 8px;
}

.cancel-btn {
  background: #3b3a40;
  color: #ff8c8c;
}
.cancel-btn:hover {
  background: #4a4950;
  color: #ffb3b3;
  transition: 0.25s ease;
}

.save-btn {
  background: #ff8c8c;
  color: #2b2b2f;
}
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.65);
  justify-content: center;
  align-items: center;
  z-index: 999;
}

#addRecordOverlay:target {
  display: flex;
}

.add-record-box {
  width: 90%;
  max-width: 450px;
  background: #2b2a2f;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.35);
  max-height: 90vh;
  overflow-y: auto;
}
.row {
  display: flex;
  justify-content: space-between;
  margin: 6px 0;
}

.row .math-btn {
  flex: 1;
  margin: 4px;
}

/* CATEGORY OVERLAY BACKGROUND */
#categoriesOverlay.hidden {
  display: none;
}

#categoriesOverlay:target {
  display: flex;
}
.category-box {
  background-color: #2b2a2f;
  padding: 20px;
  border-radius: 15px;
  width: 92%;
  max-width: 700px;
  color: ;
  overflow-y: auto;
  max-height: 90vh;
}

#categoriesOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.65);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* CATEGORY BOX */

/* TABLE TEXT + LAYOUT */
.category-box table {
  width: 100%;
  color: white;
  font-size: 18px;
}

.category-box td {
  padding: 10px 5px;
}

/* BUDGET BUTTON */
.budget-btn {
  padding: 8px 12px;
  background-color: #f48c8c;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.budget-btn:hover {
  background-color: #ff7777;
}

/* Fix the link inside */
.budget-btn a {
  color: #2b2a2f;
  text-decoration: none;
  font-weight: 600;
}
.account-container h1 {
  margin-bottom: 15px;
  color: #f48c8c;
  font-size: 1.8rem;
  text-align: center;
}

/* Close Button Hover */
.cancel-btn:hover {
  background-color: #4a4950;
}

.category-box {
  width: 95%;
  max-width: 600px;
  background: #2b2a2f; /* same dark theme */
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.35);
  max-height: 90vh;
  overflow-y: auto;
  color: white;
}
.category-page-container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.account-container table td img {
  width: 32px;
  height: 32px;
}

.account-container table td {
  vertical-align: middle;
  padding: 8px;
  color: white;
}

@media (max-width: 600px) {
  .category-page-container {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .account-container {
    width: 100%;
  }

  .add-div {
    width: 100%;
  }
}

/* category tablet*/
@media (min-width: 600px) and (max-width: 900px) {
  .account-container h1 {
    font-size: 1.6rem;
  }

  .category-page-container {
    padding: 15px;
  }

  table td {
    font-size: 1rem;
  }
}

/* LARGE SCREENS (DESKTOP) for category*/
@media (min-width: 1000px) {
  .category-page-container {
    padding: 10px;
  }

  .account-container {
    padding: 15px;
  }

  .account-container h1 {
    font-size: 1.4rem;
  }

  table td {
    font-size: 0.9rem;
    padding: 8px 8px 8px 10px;
  }

  table img {
    width: 32px;
    height: 32px;
  }

  .budget-btn {
    padding: 6px;
  }

  .add-account {
    width: 100%;
  }
}

/* Phones calculator*/
@media (max-width: 480px) {
  .acc-btn {
    width: 100%;
    justify-content: flex-start;
  }

  .inc-btn {
    width: 100%;
  }
}

/* Tablets calculator */
@media (max-width: 768px) {
  .calc-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 769px) {
  .acc-btn {
    width: auto;
  }
}
